<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
      style="font-family: 'AppleSDGothicNeo', sans-serif">
      <tr>
        <td class="container" style="padding: 0">

          <div class="content">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
              style="background: #082123; padding: 22px 25px; min-width: 500px;
              font-weight: 400; font-size: 22px">
              <tr>
                <td>
                  <img src="https://www.livle.kr/img/logo-white.png"
                  style="margin-bottom: 63px" width="100px" height="20px"/>
                </td>
              </tr>
              <tr>
                <td align="center" style="line-height: 1.73; letter-spacing: -1.2px;">
                  <p style="text-align: center;
                  color: white;
                   margin-top: 0px; margin-bottom: 66px">
                  {{nickname}}님의 결제가<br/>
                  안전하게 완료되었습니다.
                  </p>
                  <p style="border-radius: 8px;
  background-color: #47efb2; margin-left: 60px; margin-right: 60px; padding: 27px 21px;">
                  <strong>결제금액</strong> : {{price}}원<br/>
                  <strong>결제 수단</strong> : 신용카드 xxxx-xxxx-xxxx-{{last_four_digits}}<br/>
                  <strong>결제일시</strong> : {{paid_at}}<br/>
                  <strong>다음 자동 결제일</strong> : {{next_payment_due}}
                  </p>
                </td>
              </tr>
              <tr>
                <td align="center">
                  구글 플레이 앱스토어
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size: 18px; color: white">
                  <p style="margin: 74px 0">
                  자, 축제를 시작하세요,
                  당신의 삶은 라이브 그 자체입니다.
                  LIFE IS LIVE
                  </p>
                </td>
              </tr>
            </table>
          </div>

          <div class="footer">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
              style="background: black; min-width: 500px">
              <tr>
                <td align="center" style="
                font-size: 22px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -1.2px;
                color: white; padding: 57px 40px 66px 40px;">
                  라이블 ㅣ www.livle.co.kr ㅣ contacts@livle.kr<br/>
                  경기도 성남시 분당구 판교로289번길 20,<br/>
                  스타트업캠퍼스 8층<br/>
                  Copyright @ Livle All Rights Reserved<br/>
                  고객센터 : 070-8163-4068<br/>
                </td>
              </tr>
            </table>
          </div>

        </td>
      </tr>
    </table>
  </body>
</html>
