@@header@@
<table width="100%" border="0" cellpadding="0" cellspacing="0"
                                               style="background: #082123; padding-top: 40px; min-width: 500px;
                                               font-weight: 400; font-size: 22px">
  <tr>
    <td align="center">
      <p style="text-align: center;
      color: white; line-height: 1.73;
      letter-spacing: -1.2px; margin-top: 0px; margin-bottom: 66px">
      죄송합니다. 결제가 실패하였습니다.<br/>
      확인 후 다시 시도하시거나<br/>
      다른 결제 수단을 선택하세요.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="todo" style="
      width: 386px; height: 68px; border-radius: 8px;
      background: #47efb2; display: block;
      letter-spacing: -1.6px; line-height: 68px;
      text-decoration: none; color: black;
      font-weight: 600;">
        카드 변경하기
      </a>
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 65px 32px">
      <ul style="font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-align: left; color: white; width: 420px;">
        <li>결제가 이루어지지 않으면 예약했던 공연은 자동으로 취소됩니다.</li>
      </ul>
    </td>
  </tr>
</table>
</div>
@@footer@@
