@@header@@
<table width="100%" border="0" cellpadding="0" cellspacing="0"
                                               style="background: #082123; padding: 22px 25px; min-width: 500px;
                                               font-weight: 400; font-size: 22px">
  <tr>
    <td align="center">
      <p style="text-align: center;
      color: white; line-height: 1.73;
      letter-spacing: -1.2px; margin-top: 0px; margin-bottom: 66px">
      죄송합니다. 결제가 실패하였습니다.<br/>
      확인 후 다시 시도하시거나<br/>
      다른 결제 수단을 선택하세요.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="todo" style="
      width: 386px; height: 68px; border-radius: 8px;
      background: #47efb2; display: block;
      letter-spacing: -1.6px; line-height: 68px;
      text-decoration: none; color: black;
      margin-bottom: 66px;
      ">카드 변경하기</a>
    </td>
  </tr>
</table>
</div>
@@footer@@
