<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0"
      style="font-family: 'AppleSDGothicNeo', sans-serif">
      <tr>
        <td class="container" style="padding: 0">

          <div class="content">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
              style="background: #082123; padding: 22px 25px; min-width: 500px;
              font-weight: 400; font-size: 22px">
              <tr>
                <td>
                  <img src="https://www.livle.kr/img/logo-white.png"
                  style="margin-bottom: 63px" width="100px" height="20px"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <p style="text-align: center;
                  color: white; line-height: 1.73;
                  letter-spacing: -1.2px; margin-top: 0px; margin-bottom: 66px">
                  안녕하세요, 라이블입니다.<br/>
                  아래 버튼을 눌러 새 비밀번호를 설정해주세요.
                  </p>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a href="https://www.livle.kr/password.html#{{password_reset_token}}" style="
                  width: 386px; height: 68px; border-radius: 8px;
                  background: #47efb2; display: block;
                  letter-spacing: -1.6px; line-height: 68px;
                  text-decoration: none; color: black;
                  margin-bottom: 66px;
                  ">비밀번호 변경하기</a>
                </td>
              </tr>
            </table>
          </div>

          <div class="footer">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
              style="background: black; min-width: 500px">
              <tr>
                <td align="center" style="
                font-size: 22px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -1.2px;
                color: white; padding: 57px 40px 66px 40px;">
                  라이블 ㅣ www.livle.co.kr ㅣ contacts@livle.kr<br/>
                  경기도 성남시 분당구 판교로289번길 20,<br/>
                  스타트업캠퍼스 8층<br/>
                  Copyright @ Livle All Rights Reserved<br/>
                  고객센터 : 070-8163-4068<br/>
                </td>
              </tr>
            </table>
          </div>

        </td>
      </tr>
    </table>
  </body>
</html>
