<tr>
  <td align="center" style="color: #19e298;
  line-height: 1.73;
  letter-spacing: -1.2px;
  ">
    <a href="https://www.livle.kr" style="text-decoration: none; color: inherit">
      <table style="display: inline-table; width: 190px; height: 68px;
      border-radius: 34px;
      border: solid 3px #19e298; margin-right: 25px;">
        <tr>
          <td style="padding-left: 25px; padding-top: 10px">
            <img src="https://www.livle.kr/img/googleplay-emerald.png" width="31.9px" height="35px" />
          </td>
          <td>
            Google Play
          </td>
        </tr>
      </table>
    </a>
    <a href="https://www.livle.kr" style="text-decoration: none; color: inherit">
      <table style="display: inline-table; width: 190px; height: 68px;
      border-radius: 34px;
      border: solid 3px #19e298;">
        <tr>
          <td style="padding-left: 30px; padding-top: 7px">
            <img src="https://www.livle.kr/img/apple-emerald.png" width="31.9px" height="35px" />
          </td>
          <td>
            App Store
          </td>
        </tr>
      </table>
    </a>
  </td>
</tr>
