@@header@@
<table width="100%" border="0" cellpadding="0" cellspacing="0"
                                               style="background: #082123; padding: 22px 25px; min-width: 500px;
                                               font-weight: 400; font-size: 22px">
  <tr>
    <td align="center">
      <p style="text-align: center;
      color: white; line-height: 1.73;
      letter-spacing: -1.2px; margin-top: 0px; margin-bottom: 66px">
      라이블의 모든 기능을 사용하기 위해<br/>
      입력하신 이메일 인증이 필요합니다.<br/>
      아래 인증하기 버튼을 눌러주세요!
      </p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <a href="https://www.livle.kr/verify.html#{{email_verification_token}}" style="
      width: 386px; height: 68px; border-radius: 8px;
      background: #47efb2; display: block;
      letter-spacing: -1.6px; line-height: 68px;
      text-decoration: none; color: black;
      ">인증하기</a>
    </td>
  </tr>
  <tr>
    <td align="center" style="font-size: 18px; color: white">
      <p style="margin: 74px 0">
      i) 본인이 가입한 정보가 아니라면<br/>
      카카오톡 플러스친구 ‘@Livle’로 문의 바랍니다.
      </p>
    </td>
  </tr>
</table>
@@footer@@
