@@header@@
<table width="100%" border="0" cellpadding="0" cellspacing="0"
                                               style="background: #082123; padding: 22px 25px; min-width: 500px;
                                               font-weight: 400; font-size: 22px">
  <tr>
    <td align="center" style="padding-top: 41px; padding-bottom: 57px">
      <p style="text-align: center;
      color: white; line-height: 1.73;
      letter-spacing: -1.2px; margin-top: 0px ">
      음악을 사랑하는 사람들을 위한<br/>
      콘서트 멤버십 애플리케이션 라이블
      </p>
    </td>
  </tr>
  @@stores@@
  @@signature@@
</table>
@@footer@@
